.table-th-width {
  width: 150px;
}

@media screen and (max-width: 600px) {
  .table-th-width {
    width: 25px;
  }
}
@media (min-width: 600px) and (max-width: 800px) {
  .table-th-width {
    width: 90px;
  }
}
